@import "./variable.styl"

* 
  box-sizing: border-box
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

*::before,
*::after
  box-sizing: border-box

body
  font-family: $font-family
  font-size: $font-size-base
  font-weight: $font-weight-base
  line-height: $line-height
  color: $text-color
  background-color: $background-body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section
  display: block

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, th, td, fieldset, legend, input, button, textarea, blockquote, figcaption, figure, article, aside, footer, header, hgroup, menu, nav, section
  margin: 0
  padding: 0

ul, ol
  list-style: none

a
  color: $link-color
  background: transparent
  text-decoration: none
  outline: none
  cursor: pointer
  transition: color 0.2s ease
  &:hover
    color: $link-hover-color
  &:active
    color: $link-active-color
  &:active,
  &:hover 
    outline: 0
    text-decoration: none
  &[disabled]
    color: #ccc
    cursor: $cursor-disabled
    pointer-events: none

button, input, select, textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit

input::-ms-clear, input::-ms-reveal
  display: none
