//font
$font-family        = "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
$font-size-base     = 14px
$font-size-small    = 12px
$font-size-large    = 16px
$font-weight-base   = 400
$font-weight-bolder = 700
$line-height        = 1.5

//text-color
$text-color        = #333
$text-danger       = #dc3545
$text-info         = #17a2b8
$text-warning      = #ffc107
$text-success      = #28a745

//background-color
$background-body    = #fff
$background-color   = #f5f5f5
$background-danger  = #dc3545
$background-info    = #17a2b8
$background-warning = #ffc107
$background-success = #28a745

// border
$border-width-base   = 1px
$border-style-base   = solid
$border-color-base   = #dcdee2  // outside
$border-color-split  = #e8eaec  // inside
$border-radius-base  = 6px
$border-radius-small = 4px

// Shadow
$shadow-base  = $shadow-down
$shadow-up    = 0 -1px 6px $shadow-color
$shadow-down  = 0 1px 6px $hadow-color
$shadow-left  = -1px 0 6px $shadow-color
$shadow-right = 1px 0 6px $shadow-color
$shadow-color = rgba(0, 0, 0, .2)

//link
$link-color        = #2D8cF0
$ink-hover-color   = lighten($link-color, 20%)
$link-active-color = darken($link-color, 5%)

//disabled
$cursor-disabled = not-allowed
